.featuresBox {
  display: flex;
  margin-top: 44px;
}

.itemDetailsBox {
  width: 45%;
  padding-right: 24px;
}

.itemDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.itemList {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: var(--light-gray);
}

.vehicleTitle {
  margin-top: 44px;
  margin-bottom: 24px;
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  padding-bottom: 24px;
}

.vehicleList {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.vehicleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}

.formContainer {
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
}
