.catalog {
}

.catalogItem {
  width: 888px;
}

.btnLoadMore {
  margin-top: 50px;
  padding: 16px 32px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  color: rgb(16, 24, 40);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
}
