.reviewsBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circleName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light-gray);
  color: var(--red-btn);
}

.userInfo {
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.starsList {
  display: flex;
  gap: 4px;
}

.yellowStar {
  fill: var(--yellow);
}

.greyStar {
  fill: var(--very-light-gray);
}
